---
layout: home
title: Speaker
speakers:
  - title: Speakers
    members:
      - name: Dr. Gerald<br/><br/>Cupchik
        id: gerald
        position: Professor
        image: assets/speakers/gerald.png
        bio: >
            Dr. Gerald Cupchik is a decorated professor of Psychology at the University of Toronto since 1974. He is also the former president of the International Association for Empirical Aesthetics, the American Psychological Association Division on Psychology and the Arts, and the International Society for the Empirical Study of Literature and Media. He has been awarded the Rudolf Arnheim Award (2010) and the Gustav Fechner Award (2018) and has authored the book “The Aesthetics of Emotion: Up the Down Staircase of the Mind-Body”. His talk will discuss preserving the self in the age of artificial intelligence and social media. 
      - name: Emily Moorhouse
        id: emily
        position: PhD Student
        image: assets/speakers/emily.png
        bio: >
            Emily Moorhouse is a PhD student, researcher, and educator at the University of Toronto. She is highly passionate about humans right and justice, and she fuses her passion for creativity and justice through her doctoral work in critical media literacy, sexual violence prevention, consent education, and social justice approaches to education. Her talk will discuss the possibilities and limitations of participatory media literacy approaches to learning about sexual consent and healthy relationships with adolescents in Toronto. 
      - name: Nakimbe Baobab
        id: nakimbe
        position: CEO
        image: assets/speakers/nakimbe.png
        bio: >
            Nakimbe Baobab is a keynote speaker, multiple business owner (CEO/Founder of Mappdom International), conference organizer, author of nine books, a financial educator and Self Empowerment coach. Her passions include African dance, various health initiatives, travel and UFC. As a successful Project Manager holding a Bachelor of Arts with Honors (B.A Hons.) from the University of Toronto and Master of Business Administration (MBA) from Northeastern University, Nakimbe helps people and organizations re-brand and re-position themselves both professionally and personally resulting in high net worth, high value transformations. Her guiding values in life are freedom, health and happiness. Her talk will discuss about finding one’s purpose in a fast-paced digital life.
      - name: Ehi Ade-Mabo
        id: ehi
        position: Mindset Coach
        image: assets/speakers/ehi.png
        bio: > 
            Ehi Ade-Mabo inspires women to live Purposefully and make an impact in the world with Entrepreneurship. Ehi is a Passionate and Inspirational speaker who has built her platform on helping Women develop their Self-Confidence, Overcome Fear and be Profitable. Her message is built on the Premise of Abundance and the Audacity of Belief. Her works have been featured internationally in various platforms such as the Poverty and Social Protection Conference and other initiatives around the world. Her talk will discuss about improving solutions around diversity as it relates to gender disparity in the corporate world.
      - name: Dr. Michelle<br/><br/>Silver
        id: michelle
        position: Professor
        image: assets/speakers/michelle.png
        bio: >
            Dr. Michelle Silver is currently an Associate Professor of Gerontology at the University of Toronto Scarborough. Her work has been featured in Forbes, the Times Literary Supplement, The Globe and Mail, Global News, and other popular media sources. Dr. Silver’s primary areas of research include: 1) Work, Aging, and Retirement; 2) Perceptions about Aging; and 3) Health Information Seeking. Dr. Silver’s talk will discuss the phenomena of retirement and how we have a responsibility to look for new strategies to be more sustainable in our working lives.
      - name: Murray Clayton
        id: murray
        position: Professor
        image: assets/speakers/murray.png
        bio: >
            Murray Calyton spent years excavating 3rd Century Roman burials, and then returned to school to focus on human osteology, social sciences, and getting a Master's in evolutionary anthropology (focussing on forensic anthropology). He currently remains active in the forensic community as the Program Officer for the Forensic Science Program at the University of Toronto Mississauga. His talk will discuss and transfer experiences and lessons learned from forensic science into an ethical toolkit for working professionals which aims to assist individuals, and guide confidence in decision making.
      - name: Hamayal<br/><br/>Choudhry
        id: hamayal
        position: CEO
        image: assets/speakers/hamayal.png
        bio: >
            Hamayal Choudhry is the founder and CEO of smartARM (a robotics company creating AI-eqipped bionics for amputees), a multi-award winning social entrepreneur, and a keynote speaker. His passion for technology has led him to work with Tesla, and smartARM has been acclaimed by Forbes, Business Insider, Microsoft, and also by PM Justin Trudeau. Hamayal is also regularly invited worldwide to present keynotes on creating sustainable start-ups that solve meaningful problems, finding purpose-driven work, how to be prepared for the fourth industrial revolution, and more. His talk will discuss remaining relevant in a digital world, and ho to envision oneself in a global society.
      - name: Sauliha Alli
        id: sauliha
        position: Undergraduate Student
        image: assets/speakers/sauliha.png
        bio: >
            Sauliha Alli is an undergraduate student at the University of Toronto Scarborough, studying Neuroscience and Psychology. She is a recipient of the Queen Elizabeth II Diamond Jubilee Scholar and has gained exposure to the field of international development through a three-month internship in Ghana. She has organized the first educational seminar on reproductive health in the village and started an international NGO that continues to serve this community. Outside of her volunteer work, Sauliha is also conducts research at the Centre for Addiction and Mental Health and has authored several peer-reviewed publications in the field of psychiatry. Her talk will discuss the question of why medicine and international development, despite having similar pursuits, are met with disproportionate levels of public criticism.
      - name: Taylor Paulite 
        id: taylor
        position: Undergraduate Student
        image: assets/speakers/taylor.png
        bio: >
            Taylor Paulite is currently an undergraduate student at the University of Toronto studying Chemistry, Applied Statistics and Psychology. She is also a co-founder of a beauty technology startup whose social initiative is to promote self confidence by building various narratives of what beauty is today. This followed her research in the field of positive psychology in happiness, well-being, and mental health at the University of Toronto as well as her years of experience as a beauty consultant. She has worked at companies in various industries like SEPHORA, Sanofi Pasteur and Griffith Laboratories where she focused on re-defining work through the power of making innovation solutions with data. Her talk will discuss multiple self-driven techniques that can enhance one’s ability to challenge biases regarding our physical looks in order to spark the necessary change that we need in our decision-making processes.
      - name: Katie Heggtveit 
        id: katie
        position: Master's Student
        image: assets/speakers/katie.png
        bio: >
            Katie Heggtveit is a social entrepreneur, personal trainer and group fitness instructor who is currently doing a Masters of Management in Innovation and Entrepreneurship at Queen’s University. Her own created public program facilitates free weekly in-shelter fitness programs for youth experiencing homelessness in Canada. She wishes to continue her work in addressing health inequities in low-income populations [locally and internationally] through development and facilitation of collaborative, client-centered programmes focused on exercise and nutrition intervention. Her talk will discuss how : Self-efficacy is the key to success.
      - name: André Vashist
        id: andre
        position: Cross-Cultural Facilitator
        image: assets/speakers/andre.png
        bio: >
            André Vashist is an award winning serial social entrepreneur, emerging systems change innovator and aspiring spiritual ecologist.  As one of the city’s top 20 under 40 and graduate of Waterloo Institute for Social Innovation and Resilience Residency program, André is a cross-sector and cross-cultural facilitator working on bold collaborations in our community. His talk will discuss how teachings from Europe, Asia and Turtle Island can unpack the baggage of our dominant assumptions and make room in our luggage with universal knowledge that nurtures our shared future and home’s wellbeing.
      - name: Matthew<br/><br/>Hoffman
        id: matthew
        position: Professor
        image: assets/speakers/matthew.png
        bio: >
            Professor Matthew Hoffman is a professor of Political Science at the University of Toronto Scarborough. He has also authored/co-authored several books and publications, recent being Transnational Climate Change Governance. He is also Co-Director of the Environmental Governance Lab at the Munk School of Global Affairs. As a researcher, Professor Hoffmann’s research and teaching interests include global governance, climate change politics, and international relations theory. His talk will discuss why troubling patterns occur in response to climate change, and how we can catalyze the kind of transformative change we need to head off and navigate the climate emergency.
team:
  - title: Speakers
    members:
      - name: Axel Villamil
        id: axel
        position: CEO, Designer
        image: assets/speakers/axel.jpeg
        bio: >
            Axel is a director, developer, and an artist. Not only that, he is also the CEO and founder of 3 companies, and he's still in his twenties! Combining his passion for beautiful designs, and knowledge in technical practices, Axel is motivated to create breathtaking and immersive products. Axel will be talking about the difference between safe and passion; about normalizing the un-norm – "it is only crazy until you do it, and it is only innovation until that crazy has happened".
      - name: Shehna Javeed
        id: shehna
        position: ACADEMIC & LEARNING STRATEGIST
        image: assets/speakers/shehna-2.png
        bio: >
            You have definitely seen her on campus here at UTSC because she is a staff member at the Department of Academic Advising and Careers as an academic & learning strategist. She will be talking about the idea of the self-construct by intertwining the stories of her three female students with her own story and experiences.
      - name: Marlene Goldman
        id: marlene
        position: English Professor
        image: assets/speakers/marlene.jpeg
        bio: >
            Marlene is one of our English professors here at UTSC, and she is also an accomplished writer and filmmaker. She will be speaking about three elements intertwined together.<br/>a) Munro studies<br/>b) theories of the short story and<br/>c) the genre of the memoir.
      - name: Zayn Khamis
        id: zayn
        position: MOLECULAR BIOLOGIST
        image: assets/speakers/zayn.jpeg
        bio: >
            Zayn is a highly accomplished molecular biologist, who would be speaking about the navigation of our medical system, and asking how medicine, technology and history has interjected in a personal standpoint.
      - name: Jonathan Kay
        id: jonathan
        position: JOURNALIST & AUTHOR
        image: assets/speakers/jonathan.jpeg
        bio: >
            Jonathan is a Canadian journalist, the current Canadian editor of the online magazine, Quilette; he is also the former editor-in-chief of The Walrus, an accomplished writer, and a decorated alumni at the National Post. He will use the TEDxUTSC platform to discuss the balance of respecting one’s freedom of speech as well as one’s right to not be subject to hate speech.
      - name: Tahmid Hasib<br/><br/>Khan
        id: tahmid
        position: Global Health Student
        image: assets/speakers/tahmid.jpeg
        bio: >
            Tahmid is our student speaker, and definitely has an eye-opening talk, and leaves us with this gem: "We don’t know our capability unless we are faced with a situation that changes our entire lives forever while the whole world watches. You begin to appreciate life a lot more."
      - name: Sohaib Ahmed
        id: sohaib
        position: COO & RESEARCHER
        image: assets/speakers/sohaib.jpeg
        bio: >
            Sohaib is the Co-Founder and COO of 99point9, a standardized test prep company. He is also an entrepreneur, strategist, researcher and will be using the TEDxUTSC platform to speak about the importance of interaction in education through cohesive, rewarding interface for students. 
      - name: Maya Cheaib
        id: maya
        position: CRIMINOLOGY & SOCIO-LEGAL<br/>STUDIES MASTERS STUDENT
        image: assets/speakers/maya.jpeg
        bio: >
            Maya is one of our student speakers, and she will be using the TEDxUTSC platform to talk about the importance of cultural sensitivity - what it is like growing up as a visible minority (in Toronto), and how that has affected, and thus, changed her perception of life.
      - name: Hartley Jafine
        id: hartley
        position: ARTS & SCIENCES PROFFESOR
        image: assets/speakers/hartley.jpeg
        bio: >
            Hartley is a professor of the Arts & Science program at McMaster University. He also works freelance as an Applied Drama practitioner, holds the position of communication coach at UofT's postgraduate medical education program, and utilizes his skills to be an Interprofessional Arts-Based Learning Specialist at Baycrest. He will be using the TEDxUTSC platform to speak about combining the world of theater and medicine to better understand and integrate these different disciplines into a sustainable, welcoming environment for the people.
      - name: Steve Russell
        id: steve
        position: PHOTOJOURNALIST
        image: assets/speakers/steve.jpeg
        bio: >
            Steve is a highly recognized photojournalist for the Toronto Star, and has received the National Newspaper Award in the sports category in 2014. He will be speaking about differentiating between real and fake media, and how we should challenge ourselves to seek different ways of looking at the world around us.
      - name: Arshiya Bhan
        id: arshiya
        position: DANCER & FOUNDER<br/>OF FITNESS BRAND
        image: assets/speakers/arshiya.jpeg
        bio: >
            Arshiya is a Toronto based dancer, choreographer and the founder of her Fitness class called Belly AB Fitness. Her goal is to inspire people through the medium of dance and her fitness classes, and she will be speaking about what it means to take care of oneself, and how one's mind and body should be reflected through a spiritual medium.
---


<section class="team team-speakers">
    <div class="container">
        <h1> Our 2020 Speakers</h1>
        {% for section in page.speakers %}
        <div class="row">
            {% for member in section.members %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="team__member-item" style="margin-top: 40px; cursor: pointer;" data-toggle="modal" data-target="#{{member.id}}-speaker-modal">
                    <img src="{{ member.image }}" class="team__picture"/>
                    <div class="team__name-gradient">
                        <label class="team__member-name">{{ member.name }}</label>
                        <label class="team__member-position">{{ member.position }}</label>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br/><br/>
        {% endfor %}
    </div>
</section>

{% for section in page.speakers %}
    {% for member in section.members %}
        <div class="modal fade speaker-modal" tabindex="-1" role="dialog" id="{{member.id}}-speaker-modal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" data-dismiss="modal">
            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <img src="{{member.image}}" class="speaker-image" />
                </div>
                <div class="col-lg-7 col-md-8">
                    <div class="speaker-content">
                        <label class="sub-section-label">{{member.name}}</label>
                        <div class="speaker-title">{{member.position}}</div>
                        <p>{{member.bio}}</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
{% endfor %}


<section class="team team--speakers">
    <div class="container">
        <h1>Our past speakers</h1>
        {% for section in page.team %}
        <div class="row">
            {% for member in section.members %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="team__member-item" style="margin-top: 40px; cursor: pointer;" data-toggle="modal" data-target="#{{member.id}}-speaker-modal">
                    <img src="{{ member.image }}" class="team__picture"/>
                    <div class="team__name-gradient">
                        <label class="team__member-name">{{ member.name }}</label>
                        <label class="team__member-position">{{ member.position }}</label>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br/><br/>
        {% endfor %}
        
    </div>
</section>

{% for section in page.team %}
    {% for member in section.members %}
        <div class="modal fade speaker-modal" tabindex="-1" role="dialog" id="{{member.id}}-speaker-modal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" data-dismiss="modal">
            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <img src="{{member.image}}" class="speaker-image" />
                </div>
                <div class="col-lg-7 col-md-8">
                    <div class="speaker-content">
                        <label class="sub-section-label">{{member.position}}</label>
                        <div class="speaker-title">{{member.name}}</div>
                        <p>{{member.bio}}</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
{% endfor %}
