<div class="home-gallery" id="home-gallery">
    <div class="container">
        <div class="home-gallery__title">
            <button onClick="previousGalleryItem()" class="home-gallery__title__left-btn"></button>
            <div class="home-gallery__title__content"><label class="home-gallery__title__text">2020 Speakers to be announced shortly</label></div>
            <button onClick="nextGalleryItem()" class="home-gallery__title__right-btn"></button>
        </div>
        <br/>
    </div>
</div>
