<section class="buy-tickets">
    <div class="container">
        <label class="sub-section-label" style="border-bottom: 5px solid red;" >JOIN THE MOVEMENT</label>
        <h2>Ready to be inspired?</h2> 
        <a href="https://www.youtube.com/user/TEDxUTSC">
            <button class="btn btn-primary">
                <i class="fa fa-play" aria-hidden="true"></i>
                Past Talks
            </button>
        </a>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-5">
                <div class="footer__contact">
                    <ul>
                        <li><a href="https://www.facebook.com/TEDxUTSC/"><img src="assets/icons/facebook.png" alt="Facebook" /></a></li>
                        <li><a href="https://www.instagram.com/tedxutsc/"><img src="assets/icons/instagram.png" alt="Instagram" /></a></li>
                        <li><a href="https://twitter.com/TEDxUTSC"><img src="assets/icons/twitter.png" alt="Twitter" /></a></li>
                        <li><a href="https://www.youtube.com/user/TEDxUTSC"><img src="assets/icons/youtube.png" alt="YouTube" /></a></li>
                        <li><a href="mailto:info@tedxutsc.com"><img src="assets/icons/email.png" alt="Email" /></a></li>
                    </ul>
                </div>
                <nav class="footer__nav">
                    <ul>
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
                        <li><a href="{{ site.baseurl }}/team.html">Team</a></li>
                        <li><a href="{{ site.baseurl }}/speakers.html">Speakers</a></li>
                        <li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li>
                    </ul>
                </nav>
                <div class="footer__contact">
                    <h5 class="footer__mailing-list">JOIN OUR MAILING LIST</h5>
                </div>
            </div>
            <div class="footer__mailing-list-items">
                <form accept-charset="UTF-8">
                    <div class="row" >
                        <div class="col">
                                <input type="text" name="first name" placeholder="first name" size="20" class="form-control" disabled>
                        </div>
                        <div class="col">
                                <input type="text" name="last name" placeholder="last name" size="20" class="form-control" disabled>
                        </div>
                        <div class="col">
                                <input type="email" name="email" placeholder="email" size="20" class="form-control" disabled>
                        </div>   
                    </div>
                    <div style="text-align: center;">
                        <input type="submit" name="submit" class="btn btn-primary" disabled>
                    </div>  
                </form>
            </div>
            <div class="col-lg-5">
                <div class="footer__copyright">
                    <small>{{ site.env }} {{ site.build }}</small>
                        &copy; TEDXUTSC 2018
                </div>
            </div>
        </div>
    </div>
</footer>

{% include utilities/loading.html %}
{% include partials/scripts.html %}