<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="assets/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if page.title == 'Home' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
            </li>
            <li class="nav-item {% if page.title == 'About' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/about.html">About</a>
            </li>
            <li class="nav-item {% if page.title == 'Team' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/team.html">Team</a>
            </li>
            <li class="nav-item {% if page.title == 'Speaker' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/speakers.html">Speakers</a>
            </li>
            <li class="nav-item {% if page.title == 'Sponsors' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/sponsors.html">Sponsors</a>
            </li>
            <li class="nav-item  {% if page.title == 'Contact' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/contact.html">Contact Us</a>
            </li>
            <li class="nav-item  {% if page.title == 'Conference Day' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/conferenceDay.html">Conference Day Need to Know</a>
            </li>
    </div>
</nav>